python-dotenv==1.1.1
structlog

# LangChain & AI providers (compatible)
langchain==0.3.27
langchain-core>=0.3.72,<1.0.0
langchain-community==0.3.27
langchain-groq==0.3.6
langchain-google-genai==2.1.8
langchain-openai==0.2.10

# Document processing
docx2txt==0.9
python-multipart==0.0.20

# Machine learning / vector search
faiss-cpu

# FastAPI
fastapi==0.115.6
uvicorn==0.32.1
Jinja2==3.1.4

# Others
ipykernel==6.30.0
pandas
openai
langsmith
